# Pandas - Series

In [1]:
import numpy as np
import pandas as pd

- Series 생성, 인덱싱, 연산

In [4]:
s = pd.Series([9904312, 3448737, 2890451, 2466052],
               index=["서울", "부산", "인천", "대구"])
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [5]:
s[0], s['서울']

(9904312, 9904312)

In [6]:
s[1:3]

부산    3448737
인천    2890451
dtype: int64

In [7]:
s['서울':'인천']

서울    9904312
부산    3448737
인천    2890451
dtype: int64

In [8]:
# numpy의 boolean indexing처럼 조건을 걸 수 있다.
s[s > 3000000]

서울    9904312
부산    3448737
dtype: int64

In [10]:
d = s / 1000000
d

서울    9.904312
부산    3.448737
인천    2.890451
대구    2.466052
dtype: float64

In [11]:
# 딕셔너리를 통해서 시리즈 만들기(딕셔너리와 시리즈는 거의 1:1)
cities = {'서울':9631482, '부산':3393191, '인천':2632035, '대전':1490158}
s2 = pd.Series(cities)
s2

서울    9631482
부산    3393191
인천    2632035
대전    1490158
dtype: int64

In [12]:
# 연산
ds = s - s2
ds

대구         NaN
대전         NaN
부산     55546.0
서울    272830.0
인천    258416.0
dtype: float64

- Series 속성

In [13]:
s.values            # numpy array

array([9904312, 3448737, 2890451, 2466052], dtype=int64)

In [14]:
s.index

Index(['서울', '부산', '인천', '대구'], dtype='object')

In [15]:
# 리스트로 되어 있어서 반복문 쓸 수 있다.
for city in s.index:
    print(city)

서울
부산
인천
대구

- Series 메소드

In [20]:
np.random.seed(2021)
dice = pd.Series(np.random.randint(1,7,100))

In [21]:
# element의 갯수
dice.count()

100

In [22]:
# 고유한 값
dice.unique()

array([5, 6, 2, 1, 4, 3])

In [23]:
# 고유한 값의 갯수
dice.nunique()

6

In [24]:
# 고유한 값(카테고리)별 갯수(아주중요)
dice.value_counts()

6    21
2    21
3    19
4    18
5    13
1     8
dtype: int64

In [25]:
# 합, 평균, 최대, 최소, 표준편차
dice.sum(), dice.mean(), dice.max(), dice.min(), dice.std()

(370, 3.7, 6, 1, 1.6298974374376005)

In [26]:
# 요약 통계
dice.describe()

count    100.000000
mean       3.700000
std        1.629897
min        1.000000
25%        2.000000
50%        4.000000
75%        5.000000
max        6.000000
dtype: float64

In [27]:
# 정렬
s

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [29]:
# 오름차순 (numpy에서는 반대로 하면 [::-1])
s.sort_values()

대구    2466052
인천    2890451
부산    3448737
서울    9904312
dtype: int64

In [30]:
s.sort_values(ascending=False)

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [31]:
s.sort_values()[::-1]

서울    9904312
부산    3448737
인천    2890451
대구    2466052
dtype: int64

In [32]:
# index를 sorting
s.sort_index()

대구    2466052
부산    3448737
서울    9904312
인천    2890451
dtype: int64

데이터프레임 공통인덱스를 갖고 있는 시리즈의 조합