# 서울시 구별 CCTV 데이터와 인구 합치기

In [1]:
import numpy as np
import pandas as pd

### 1. CCTV 데이터

In [2]:
cctv = pd.read_csv('서울시CCTV설치운영현황(자치구)_년도별_210731기준.csv',
                    skiprows=1, encoding='euc-kr')        # skiprows 건너뛸 행
cctv.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,"77,032","7,667","2,200","3,491","4,439","6,582","8,129","9,947","9,876","11,961","11,132","1,608"
1,종로구,"1,772",813,0,0,210,150,1,261,85,9,200,43
2,중 구,"2,333",16,114,87,77,236,240,372,386,155,361,289

In [3]:
# Null data가 있는지 확인
cctv.isna().sum().sum()

0

In [6]:
# 1000 단위 구분 기호 없애기
for column in cctv.columns[1:]:
    cctv[column] = cctv[column].apply(lambda x: int(x.replace(',','')))
cctv.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289

In [8]:
# 최근 증가율
cctv['최근3개년'] = cctv['2018년'] + cctv['2019년'] + cctv['2021년']
cctv['2017년이전'] = cctv.총계 - cctv['최근3개년'] - cctv['2021년']
cctv['최근증가율'] = (cctv['최근3개년'] / cctv['2017년이전'] * 100).round(2)
cctv.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근3개년,2017년이전,최근증가율
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608,23445,51979,45.10
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,137,1592,8.61
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289,830,1214,68.37

In [13]:
cctv['최근증가율2'] = cctv.iloc[:, 9:12].sum(axis=1) / cctv.iloc[:,2:9].sum(axis=1) * 100
cctv.head(3)

,구분,총계,2012년 이전,2012년,2013년,2014년,2015년,2016년,2017년,2018년,2019년,2020년,2021년,최근3개년,2017년이전,최근증가율,최근증가율2
0,계,77032,7667,2200,3491,4439,6582,8129,9947,9876,11961,11132,1608,23445,51979,45.10,77.656342
1,종로구,1772,813,0,0,210,150,1,261,85,9,200,43,137,1592,8.61,20.487805
2,중 구,2333,16,114,87,77,236,240,372,386,155,361,289,830,1214,68.37,78.984238

In [15]:
# Selection - 필요한 컬럼 추출
cctv = cctv[['구분','총계','최근증가율']]
cctv.head(3)

    구분     총계  최근증가율
0    계  77032  45.10
1  종로구   1772   8.61
2  중 구   2333  68.37

In [16]:
# 컬럼명 변경(rename써서 딕셔너리형태로 넣기 / inplace로 계속 확인해가며 하기)
cctv.rename(columns={'구분':'구별','총계':'CCTV댓수'}, inplace=True)
cctv.head(3)

    구별  CCTV댓수  최근증가율
0    계   77032  45.10
1  종로구    1772   8.61
2  중 구    2333  68.37

In [17]:
# 첫번째 행(계) 삭제
cctv.drop([0], inplace=True)
cctv.head(3)

    구별  CCTV댓수  최근증가율
1  종로구    1772   8.61
2  중 구    2333  68.37
3  용산구    2383  22.14

In [ ]:
cctv.drop()