In [1]:
import seaborn as sns
mpg = sns.load_dataset('mpg')
mpg.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [2]:
name = 'chevrolet chevelle malibu'
mfg = name.split()[0]

In [3]:
mfg

'chevrolet'

In [6]:
name2 = 'ford torino'
name.split()[1:]

['chevelle', 'malibu']

In [5]:
name2.split()[1:]

['torino']

In [7]:
' '.join(name.split()[1:])

'chevelle malibu'

In [8]:
' '.join(name2.split()[1:])

'torino'

# 연습문제

In [9]:
import seaborn as sns
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [ ]:
groupby